.defaultButton {
  border: none;
  border-radius: 4px;
  font-size: 20px;
  padding: var(--spacing-small) var(--spacing-large);
  cursor: pointer;
}

.default {
  color: var(--secondary-color);
  background-color: var(--primary);
  border: 1px solid var(--secondary-color);
}

.cancel {
  color: var(--gray);
  background-color: var(--graydark);
  border: 2px solid var(--gray)
}
