.iconButton {
  background-color: transparent;
  border: none;
}

.defaultButton {
  min-width: 150px;
  max-width: 100%;
  border: none;
  border-radius: 4px;
  font-size: 20px;
  padding: var(--spacing-small) var(--spacing-large);
  cursor: pointer;
}

.default {
  color: var(--secondary-color);
  background-color: var(--primary);
  border: 1px solid var(--secondary-color);

  &:hover {
    background-color: var(--yellowdark);
    transition-duration: 0.3s;
  }
}

.cancel {
  color: var(--gray);
  background-color: var(--graydark);
  border: 2px solid var(--gray);

  &:hover {
    background-color: var(--secondary-color);
    transition-duration: 0.3s;
  }
}
