.boardWrapper {
  max-width: 500px;
  width: 500px;
  border: 1px outset var(--primary);
  display: flex;
  gap: var(--spacing-medium);
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  color: white;
  padding: var(--spacing-XLarge);
  background-color: var(--bluedark);
  box-shadow: 4px 7px 10px 3px var(--graydark);
  position: relative;
  height: fit-content;
  border-radius: 4px;

  .muteButton {
    position: absolute;
    right: 15px;
    top: 15px;
  }

  .logo {
    top: -93px;
    position: absolute;
    width: 120px;
  }

  & h1 {
    margin-bottom: var(--spacing-small);
  }

  & p {
    text-align: center;
  }

  .initialButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-medium);
    flex-wrap: wrap;
  }

  .finishedButtons {
    display: flex;
    gap: var(--spacing-small);
  }
 
}
