:root {
  --primary: rgb(255, 192, 70);
  --secondary-color: #fff;
  --blue: rgb(70, 198, 243);
  --bluedark: rgb(17, 19, 29);

  --spacing-tiny: 5px;
  --spacing-small: 10px;
  --spacing-medium: 25px;
  --spacing-large: 36px;
  --spacing-XLarge: 50px;
}
