:root {
  --primary: #ffc046;
  --yellowdark: #ffc146b7;
  --secondary-color: #fff;
  --blue: #46c6f3;
  --bluedark: #11131d;
  --gray: #808080;
  --graydark: #30323f;

  --spacing-tiny: 5px;
  --spacing-small: 10px;
  --spacing-medium: 25px;
  --spacing-large: 36px;
  --spacing-XLarge: 50px;
}
