:root {
  --primary: #ffc046;
  --secondary-color: #fff;
  --blue: #46c6f3;
  --bluedark: #11131d;
  --gray: #4b4a4af8;
  --border-color: #1e212c;

  --spacing-tiny: 5px;
  --spacing-small: 10px;
  --spacing-medium: 25px;
  --spacing-large: 36px;
  --spacing-XLarge: 50px;
}
